$space-s: clamp(0.929rem, 0.559vw + 0.519rem, 1.286rem);

$ff-variable: "Switzer-Variable";

$anthracite: rgb(31, 31, 31);
$darker: rgb(25, 25, 25);
$aluminium: rgb(180, 180, 180);
$light: rgb(249, 249, 249);

$font-size-subtitle: clamp(0.929rem, 0.559vw + 0.519rem, 1.286rem);
$font-size-link: clamp(0.875rem, 0.8536585365853658rem + 0.12195121951219512vw, 1rem);
$font-size-body: clamp(0.875rem, 0.5886871508379888rem + 0.44692737430167595vw, 1.125rem);